<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.net>
        <mailSettings>
            <smtp from="sender@yourdomain.com">
                <network enableSsl="true" host="mail.yoursmtpservice.com" port="465" 
                         userName="your_username" password="your_password" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>